body{
    text-align: center;
}
#num{
    display: inline;
    width: 50%;
}
.modal-content{
    border-radius: 0;
    border: 5px solid #ba2a2a;
}
.modal-header{
    background-color: #ba2a2a;
    padding: 10px 5px 10px 10px;
}
.close{
    color:#fff;
    opacity: 0.75;
}
.close:hover{
    color:#fff;
    opacity: 1;
}
.modal-title{
    color:#fff;
}
.modal-body{
    text-align: center;
    padding: 20px 20px 0 20px;
    font-size: 16px;
}
.modal-footer{
    border:none;
    text-align: center;
}
